<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Airline Reservation System</display-name>

    <servlet>
    <servlet-name>HomeRedirectServlet</servlet-name>
    <servlet-class>com.airline.reservation.servlet.HomeRedirectServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>HomeRedirectServlet</servlet-name>
    <url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>
